:root {
    --fondo-card: hsl(200, 60%, 99%);
    --sombra-card: hsl(217, 61%, 90%);
    --border-card: hsl(217, 61%, 90%);

    --color-button: hsl(200, 60%, 99%);
    --color-button-inactive: hsl(226, 11%, 37%);
    --color-button-dark: hsl(0, 0%, 93%);
    --border-button: hsl(0, 0%, 78%);
    --button-state: hsl(0, 0%, 78%);

    --color-text: hsl(227, 75%, 14%);
    --color-text-active: hsl(200, 60%, 99%);
    --text-description: hsl(226, 11%, 37%);


    --fondo-active-hover: hsl(3, 86%, 64%);
    --fondo-list-hover: hsl(0, 0%, 93%);
    --fondo-active: hsl(3, 77%, 44%);

    --color-gradient-fondo: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);

}

.dark {
    --fondo-card: hsl(226, 25%, 17%);
    --sombra-card: #040918;
    --border-card: hsl(226, 11%, 37%);

    --color-button: hsl(225, 23%, 24%);
    --color-button-dark: hsl(225, 23%, 24%);
    --border-button: hsl(226, 11%, 37%);
    --button-state: hsl(226, 11%, 37%);

    --color-text: hsl(200, 60%, 99%);
    --color-text-active: hsl(227, 75%, 14%);
    --text-description: hsl(0, 0%, 78%);

    --fondo-list-hover: hsl(226, 11%, 37%);
    --fondo-active: hsl(3, 71%, 56%);
    --fondo-active-hover: hsl(3, 86%, 64%);

    --color-gradient-fondo: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
    font-family: sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease, translate 0.5s ease;
}

.body {
    min-height: 100vh;
    background: var(--color-gradient-fondo);
    padding: 20px 15px;
    color: var(--color-text);
    font-family: var(--font-family);
}

.header {
    background-color: var(--fondo-card);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px 2px var(--sombra-card);
}

.button-dark {
    background-color: var(--color-button-dark);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    place-content: center;
}

h1 {
    margin-top: 40px;
}

.container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.list-item {
    background-color: var(--color-button);
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid var(--border-button);
}

.list-item:hover {
    background-color: var(--fondo-list-hover);
}

.active {
    background-color: var(--fondo-active);
    color: var(--color-text-active);
    font-weight: 600;
}

.active:hover {
    background-color: var(--fondo-active-hover);
}

.card {
    margin-top: 20px;
    background-color: var(--fondo-card);
    max-width: 330px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid var(--border-card);
}

.card-content {
    display: flex;
    align-items: start;
    gap: 15px;
    margin-bottom: 10px;
}

.card-description {
    margin-top: 8px;
    color: var(--text-description);
}

.card-content-state {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-button {
    border-radius: 50px;
    padding: 10px 15px;
    color: var(--color-text);
    background-color: var(--fondo-card);
    border: 1px solid var(--border-button);
}

.card-state-content {
    width: 45px;
    height: 25px;
    background-color: var(--button-state);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.state-content-active {
    background-color: var(--fondo-active);
}

.card-state {
    width: 20px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50px;
    margin: 0 2px;
}

.state-active {
    translate: 100%;
}